body {
  background-image: url(assets/space.jpg);
  background-size: cover;

  max-height: 100vh;
}

header {
  color: yellow;
  font-family: "Staatliches", cursive;
  text-align: center;
}

.header {
  font-size: 5rem;
}

.up-box {
  border: aqua solid 2px;
  color: yellow;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}

.up-box span {
  font-size: 3rem;
  color: #ec35e3;
}

.rb-1 {
  align-items: center;
  border-bottom: aqua solid 2px;
  padding: 0.5rem;
}

.main-game {
  color: yellow;
}
.main-game span {
  color: #ec35e3;
  font-size: 2rem;
}

.tooPoor {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 25%;
}

.game-click {
  cursor: not-allowed;
  pointer-events: none;
}

.moon-boi {
  max-width: 100%;
  max-height: 100%;
}

.unable {
  display: none;
}

.game-update {
  padding: 10px;
  border: solid whitesmoke 2px;
  border-radius: 5px;
}

.clickEffect {
  position: fixed;
  box-sizing: border-box;
  font-size: 20px;
  color: #ec35e3;
  animation-name: example;
  animation-duration: 4s;
  animation: clickEffect 1s 1;
  -webkit-animation: clickEffect 1s 1;
}
@keyframes clickEffect {
  100% {
    top: 200px;
    left: 200px;
    font-size: 50px;
  }
}
